body {
    background-color: rgb(3, 124, 110);

}

.page-title {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
}

.page-title__image {
    height: 150px;
    width: 800px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 5px 2px 5px;
}

.page-title__header {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgb(22, 20, 20);
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    margin: 5px 0px 40px 0px;
}

.test-div {
    display: flex;
    flex-flow: row nowrap;

}

.main-body {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgb(22, 20, 20);
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}

.fish-collection__header {
    margin: 20px;
}

.fish__image {
    height: 150px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;

}

.fishList {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgb(22, 20, 20);
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
}

.fishCard {
    margin: 10px;
}

.locations {
    margin: 10px;
}

.locations__quotes {
    display: flex;
    flex-flow: center wrap;
}

.quote {
    border: 3px solid aquamarine;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.locations__header {
    text-align: center;
}

.locationsList {
    display: flex;
    flex-flow: row wrap;
}

.locationObjectCard {
    margin: 20px;
}

.care {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 1px rgb(22, 20, 20);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;


}

.tipObjectCard {
    margin: 20px;
}